apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-deployment
  labels:
    app: vote
spec:
  replicas: 2
  selector: 
    matchLabels:
      app: vote 
  template:
    metadata:
      name: voting-app
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: dockersamples/examplevotingapp_vote
          ports:
            - containerPort: 80
              name: vote
